fastapi
uvicorn

python-dotenv

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers

google-genai

pymupdf
beautifulsoup4
markdown

numpy
pandas
scikit-learn

tqdm

python-multipart

pydantic